{% block head %} {% for item in assets.css %}
<link rel="stylesheet" href="{{item}}{{version.cache}}" />{% endfor %}
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.0/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.0/mapbox.css' rel='stylesheet' />

<script src="/js/heatmap.js"></script>
<script src="/js/leaflet-heatmap.js"></script>
<style>
      .leaflet-container {
        background: rgba(0,0,0,.1) !important;
      }
  body { margin:0; padding:0; }
  .map { position:relative; height:700px; width:100%; }
</style>{% endblock %}